<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Notification - TestWatch WatchKit App.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>TestWatch WatchKit App.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>TestWatch.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>DA2FE2941BB1B0DF00A21CE8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DA2FE2A81BB1B0DF00A21CE8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DA2FE2B31BB1B0DF00A21CE8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DA2FE2BC1BB1B0DF00A21CE8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
